<div flex-xs flex-gt-xs="50" layout="column">
	<md-card>
		<md-card-header>
			<md-card-avatar>
				<i class="material-icons">face</i>
			</md-card-avatar>
			<md-card-header-text>
				<span class="md-title">{{ card.category }}</span>
				<span class="md-subhead">{{ card.cuntal_order }}</span>
			</md-card-header-text>
		</md-card-header>

		<img ng-src="images/donald-trump.jpg" class="md-card-image" alt="card photo" />

		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">{{ card.name }}</span>
			</md-card-title-text>
		</md-card-title>

		<md-card-actions layout="column" layout-align="space-around none">
			<div layout="row">
				<p>Unpalatibility:</p>
				<span flex></span>
				<md-button class="play-button">{{ card.unpalatibility }}</md-button>
			</div>

			<div layout="row">
				<p>Up their own arsemanship:</p>
				<span flex></span>
				<md-button class="play-button">{{ card.up_their_own_arsemanship }}</md-button>
			</div>

			<div layout="row">
				<p>Media attention:</p>
				<span flex></span>
				<md-button class="play-button">{{ card.media_attention }}</md-button>
			</div>

			<div layout="row">
				<p>Legacy:</p>
				<span flex></span>
				<md-button class="play-button">{{ card.legacy }}</md-button>
			</div>

			<div layout="row">
				<p>PPC (price per cunt):</p>
				<span flex></span>
				<md-button class="play-button">{{ card.ppc }}</md-button>
			</div>

			<div layout="row">
				<p>Special ability:</p>
				<span flex></span>
				<md-button class="play-button">{{ card.special_ability }}</md-button>
			</div>
		</md-card-actions>

		<md-card-content>
			<h4>Special ability description:</h4>
			<p>{{ card.special_ability_description }}</p>
		</md-card-content>

	</md-card>
</div>