<div layout="column" class="card animated" ng-switch on="flipped" ng-class="{ flipInY: flipped, fadeIn: !flipped }">
	<md-card md-whiteframe="12">
		<md-card-header class="grade-{{ card.cuntal_order }}" layout="row">
			<md-card-header-text>
				<span class="md-title">{{ card.category }}</span>
				<span class="md-subhead">{{ card.cuntal_order }}</span>
			</md-card-header-text>

			<span flex></span>

			<md-card-avatar>
				<md-button class="md-icon-button md-primary" ng-click="flipped = !flipped" aria-label="card information">
					<i ng-switch-when="false" class="material-icons info-button">info_outline</i>

					<!-- if flipped show filled in info button -->
					<i ng-switch-when="true" class="material-icons info-button">info</i>
				</md-button>
			</md-card-avatar>
		</md-card-header>


		<!-- default, unflipped state - show front image -->
		<img ng-switch-when="false" ng-src="https://tcmaster.file.core.windows.net/images/{{card.images[0]}}?st=2017-05-17T19%3A37%3A00Z&se=2030-06-01T19%3A37%3A00Z&sp=r&sv=2015-12-11&sr=s&sig=qjsAFDV%2BggBRmdYZ1yTo0P5NDY5ic%2BI1YQFu398jppo%3D" class="md-card-image" alt="card photo" />

		<!-- else if flipped show rear image -->
		<img ng-switch-when="true" ng-src="https://tcmaster.file.core.windows.net/images/{{card.images[1]}}?st=2017-05-17T19%3A37%3A00Z&se=2030-06-01T19%3A37%3A00Z&sp=r&sv=2015-12-11&sr=s&sig=qjsAFDV%2BggBRmdYZ1yTo0P5NDY5ic%2BI1YQFu398jppo%3D" class="md-card-image" alt="card photo" />


		<md-card-title>
			<!-- unflipped title - show name -->
			<md-card-title-text ng-switch-when="false">
				<span class="md-headline">{{ card.name }}</span>
			</md-card-title-text>

			<!-- flipped state - show biography -->
			<md-card-title-text ng-switch-when="true">
				<span class="md-headline">{{ card.name }} Biography</span>
			</md-card-title-text>
		</md-card-title>


		<!-- unflipped card actions - show credentials -->
		<md-card-actions layout="column" layout-align="space-around none" ng-switch-when="false">
			<div class="category-row" layout="row">
				<p>Unpalatibility:</p>
				<span flex></span>
				<md-button class="play-button grade-{{ card.cuntal_order }}" ng-click="play('unpalatibility', card.unpalatibility)">
					{{ card.unpalatibility }}
				</md-button>
			</div>

			<md-slider-container class="animated zoomInLeft" ng-disabled="true" ng-show="unpalatibilityScoreVisible">
				<md-slider ng-model="unpalatibilityScore" aria-label="opponent unpalatibility score slider" flex md-discrete ng-readonly="true" min="0" max="100"></md-slider>
			</md-slider-container>


			<div class="category-row" layout="row">
				<p>Up their own arsemanship:</p>
				<span flex></span>
				<md-button class="play-button grade-{{ card.cuntal_order }}" ng-click="play('up_their_own_arsemanship', card.up_their_own_arsemanship)">
					{{ card.up_their_own_arsemanship }}
				</md-button>
			</div>

			<md-slider-container class="animated zoomInLeft" ng-disabled="true" ng-show="upTheirOwnArsemanshipScoreVisible">
				<md-slider ng-model="upTheirOwnArsemanshipScore" aria-label="opponent unpalatibility score slider" flex md-discrete ng-readonly="true" min="0" max="100"></md-slider>
			</md-slider-container>


			<div class="category-row" layout="row">
				<p>Media attention:</p>
				<span flex></span>
				<md-button class="play-button grade-{{ card.cuntal_order }}" ng-click="play('media_attention', card.media_attention)">
					{{ card.media_attention }}
				</md-button>
			</div>

			<md-slider-container class="animated zoomInLeft" ng-disabled="true" ng-show="mediaAttentionScoreVisible">
				<md-slider ng-model="mediaAttentionScore" aria-label="opponent unpalatibility score slider" flex md-discrete ng-readonly="true" min="0" max="100"></md-slider>
			</md-slider-container>


			<div class="category-row" layout="row">
				<p>Legacy:</p>
				<span flex></span>
				<md-button class="play-button grade-{{ card.cuntal_order }}" ng-click="play('legacy', card.legacy)">
					{{ card.legacy }}
				</md-button>
			</div>

			<md-slider-container class="animated zoomInLeft" ng-disabled="true" ng-show="legacyScoreVisible">
				<md-slider ng-model="legacyScore" aria-label="opponent unpalatibility score slider" flex md-discrete ng-readonly="true" min="0" max="100"></md-slider>
			</md-slider-container>


			<div class="category-row" layout="row">
				<p>PPC (price per cunt):</p>
				<span flex></span>
				<md-button class="play-button grade-{{ card.cuntal_order }}" ng-click="play('ppc', card.ppc)">
					{{ card.ppc }}
				</md-button>
			</div>

			<md-slider-container class="animated zoomInLeft" ng-disabled="true" ng-show="ppcScoreVisible">
				<md-slider ng-model="ppcScore" aria-label="opponent unpalatibility score slider" flex md-discrete ng-readonly="true" min="0" max="100"></md-slider>
			</md-slider-container>


			<div class="category-row" layout="row">
				<p>Special ability:</p>
				<span flex></span>
				<md-button class="play-button grade-{{ card.cuntal_order }}" ng-click="play('special_ability', card.special_ability)">
					{{ card.special_ability }}
				</md-button>
			</div>

			<md-slider-container class="animated zoomInLeft" ng-disabled="true" ng-show="specialAbilityScoreVisible">
				<md-slider ng-model="specialAbilityScore" aria-label="opponent unpalatibility score slider" flex md-discrete ng-readonly="true" min="0" max="100"></md-slider>
			</md-slider-container>

		</md-card-actions>


		<!-- default, unflipped - show special ability description -->
		<md-card-content ng-switch-when="false">
			<md-divider></md-divider>
			<h4>Special ability description:</h4>
			<p>{{ card.special_ability_description }}</p>
		</md-card-content>


		<!-- flipped - show biography -->
		<md-card-content ng-switch-when="true">
			<p ng-bind-html="card.bio"></p>

			<h5>References</h5>
			<ul>
				<li ng-repeat="ref in card.references" ng-bind-html="displayLink(ref)"></li>
			</ul>
		</md-card-content>

	</md-card>
</div>