<md-dialog aria-label="Game over won dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Game Over</h2>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <h2>😎 You win!</h2>
            <p></p>The Donald is proud, you're making America great again.</p>
            <p>Hands: {{ stats.handsWon + stats.handsLost + stats.handsDrawn }} | Won: {{ stats.handsWon }} | Lost: {{ stats.handsLost }} | Drawn: {{ stats.handsDrawn }}</p>
            <p>Boon: {{ stats.boon + stats.boonWon }} <small>+{{ stats.boonWon }}</small></p>
            <div layout="row" class="profile-content">
                <p>XP: {{ stats.newXp }}</p>
                <md-progress-linear class="xp-slider" md-mode="determinate" value="{{ stats.xpSliderValue }}"></md-progress-linear>
                <small>+{{ stats.xpWon }}</small>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="hide()">Ok</md-button>
    </md-dialog-actions>
</md-dialog>