<div ng-controller="GameController">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-accent md-icon-button" aria-label="Settings" ng-click="toggleMenu()">
				<i class="material-icons menu-icon">menu</i>
			</md-button>

			<!--<h2 flex md-truncate>Home</h2>-->
			<span flex></span>

			<!-- This button won't work yet as it's not under GameController -->
			<md-button class="md-raised md-accent" ui-sref="home.play" ng-click="init(user)">Play</md-button>
		</div>
	</md-toolbar>


	<!-- md-component-id allows the controller to access the sidenav -->
	<md-sidenav class="md-sidenav-left" md-component-id="side-menu" md-whiteframe="4">
		<md-toolbar layout-padding layout="row">
			<div class="md-toolbar-tools">
				<h2>Main Menu</h2>
				<span flex></span>
				<md-button ng-click="toggleMenu()" class="md-icon-button md-accent">
					<i class="material-icons menu-icon">close</i>
				</md-button>
			</div>
		</md-toolbar>

		<md-content layout-padding>
			<md-list flex>
				<md-list-item class="md-3-line">
					<img ng-src="{{ gravatarUrl(user.email, 80) }}" alt="user's gravatar" class="md-avatar" />
					<div class="md-list-item-text" layout="column">
						<h3>Hi {{ user.username }}</h3>
						<h4>{{ user.name }}</h4>
						<p>{{ user.email }}</p>
					</div>
				</md-list-item>

				<md-divider></md-divider>

				<md-list-item class="md-1-line" ui-sref="home" ng-click="toggleMenu()">
					<i class="material-icons md-avatar">home</i>
					<div class="md-list-item-text" layout="column">
						<h3>Home</h3>
					</div>
				</md-list-item>

				<md-list-item class="md-1-line" ng-click="getCards(); toggleMenu()" ui-sref="home.collection">
					<i class="material-icons md-avatar">collections</i>
					<div class="md-list-item-text" layout="column">
						<h3>My Collection</h3>
					</div>
				</md-list-item>

				<!--<md-list-item class="md-1-line" ng-click="toggleMenu()" ui-sref="home.profile">
					<i class="material-icons md-avatar">person</i>
					<div class="md-list-item-text" layout="column">
						<h3>My Profile</h3>
					</div>
				</md-list-item>-->

				<md-list-item class="md-1-line" ng-click="logout()">
					<i class="material-icons md-avatar">exit_to_app</i>
					<div class="md-list-item-text" layout="column">
						<h3>Sign out</h3>
					</div>
				</md-list-item>

			</md-list>
		</md-content>
	</md-sidenav>


	<md-content id="content" flex>
		<div ui-view>
			<!-- default home view -->
			<div id="profile" layout="column" layout-align="end none" layout-padding>
				<div id="user-info" layout="row">
					<img ng-src="{{ gravatarUrl(user.email, 80) }}" alt="user's gravatar" id="profile-image" />
					<div id="user-details" layout="column">
						<h2>{{ user.name }}</h2>
						<h5>Mouth Breather</h5>
					</div>

					<!--<md-button class="md-raised md-accent" layout-align="center center" ui-sref="home.play" ng-click="init(user)">Play</md-button>-->
				</div>
			</div>

			<div layout="row" layout-padding layout-wrap>
				<div class="timeline" layout="column" flex-gt-sm="55">
					<!--<h1>News</h1>-->
					<!-- eventually - for each news feed in user's feed... -->
					<md-card class="news-card">
						<md-card-header>
							<md-card-avatar>
								<img src="images/tc-avatar.png"/>
							</md-card-avatar>
							<md-card-header-text>
								<span class="md-title">The Donald</span>
								<span class="md-subhead">Today</span>
							</md-card-header-text>
						</md-card-header>
						<md-divider></md-divider>					
						<md-card-title>
							<md-card-title-text>
								<span class="md-headline">Your Starter Pack is ready</span>
							</md-card-title-text>
						</md-card-title>
						<md-card-content>
							<p>Your starter pack is now ready. I've hand picked some starter level bad dudes for you, 
								I mean some of them are real losers. See them <a ng-click="getCards()" ui-sref="home.collection">here</a>.</p>
							<p>Put them to task now by <a ng-click="init(user)" ui-sref="home.play">starting a new game</a>.</p>
						</md-card-content>
					</md-card>

					<!--<h1>Chat</h1>-->
					<div class="chatbot-panel" layout="column" layout-padding>
						<iframe src='https://webchat.botframework.com/embed/thedonaldbot?s=aAhtyvJ2VZ8.cwA.67o.4wUtSRZT75hxekWLUR1Y8fKRQSy3zRi_phnkN5hr_b8'></iframe>
					</div>
				</div><!-- end of timeline -->

				<!--<span flex></span>-->

				<div class="sidebar" layout="column" flex-gt-sm="35" flex="100">
					<div class="profile-card md-whiteframe-1dp" layout="column">
						<header layout="row">
							<h2>Profile</h2>
						</header>

						<div class="profile-content" layout="row">
							<md-icon class="profile-icon" md-svg-src="icons/ic_person_black_24px.svg" aria-label="games played icon"></md-icon>
							<p class="profile-text">Level 1 - Bronze Mouth Breather</p>
						</div>

						<div class="profile-content" layout="row">
							<md-icon class="profile-icon" md-svg-src="icons/ic_games_black_24px.svg" aria-label="games played icon"></md-icon>
							<p class="profile-text">Played: 0</p>
						</div>

						<div class="profile-content" layout="row">
							<md-icon class="profile-icon" md-svg-src="icons/ic_thumb_up_black_24px.svg" aria-label="games played icon"></md-icon>
							<p class="profile-text">Won: 0</p>
						</div>

						<div class="profile-content" layout="row">
							<md-icon class="profile-icon" md-svg-src="icons/ic_thumb_down_black_24px.svg" aria-label="games played icon"></md-icon>
							<p class="profile-text">Lost: 0</p>
						</div>

						<!--<div class="profile-content" layout="row">
							<md-icon class="profile-icon" md-svg-src="icons/ic_forward_black_24px.svg" aria-label="games played icon"></md-icon>
							<p class="profile-text">Next level - Silver Mouth Breather</p>
						</div>-->

						<div class="profile-content" layout="row">
							<p class="profile-text">XP: </p>
							<md-slider ng-disabled="true" step="3" md-discrete min="0" max="10" aria-label="Disabled discrete 2"></md-slider>
						</div>

						<div class="profile-content" layout="row">
							<md-icon class="profile-icon" md-svg-src="icons/ic_attach_money_black_24px.svg" aria-label="games played icon"></md-icon>
							<p class="profile-text">0</p>
						</div>

					</div><!-- end of profile card -->

					<div class="achievements-card md-whiteframe-1dp" layout="column">
						<header layout="row">
							<h2>Achievements</h2>
						</header>

						<div class="profile-content" layout="row" layout-wrap>
							<span class="badge" title="Awarded for registering with TC">
								<span class="badge-bronze"></span>
								Welcome
							</span>
						</div>

					</div><!-- end of achievements card -->
						
				</div><!-- end of sidebar -->

			</div>
		</div>
	</md-content>
</div>