<!-- <div ng-controller="UserController"> -->
<md-toolbar layout-padding layout="row">
	<img class="tc-text-logo" src="images/tc-text-logo.png" alt="tc logo" />
	<span flex></span>
	<md-button class="md-primary md-accent" ng-click="toggleMenu()">
		<i class="material-icons menu-icon">menu</i>
	</md-button>
</md-toolbar>


<!-- md-component-id allows the controller to access the sidenav -->
<md-sidenav class="md-whiteframe-4dp md-sidenav-left" md-component-id="side-menu">
	<md-toolbar layout-padding layout="row">
		<h2>Menu</h2>
		<span flex></span>
		<md-button ng-click="toggleMenu()" class="md-primary md-accent">
			<i class="material-icons menu-icon">close</i>
		</md-button>
	</md-toolbar>

	<md-content layout-padding>
		<md-list flex>
			<md-list-item class="md-3-line">
				<img ng-src="{{ gravatarUrl(user.email) }}" alt="user's gravatar" class="md-avatar" />
				<div class="md-list-item-text" layout="column">
					<h3>Hi {{ user.username }}</h3>
					<h4>{{ user.name }}</h4>
					<p>{{ user.email }}</p>
				</div>
			</md-list-item>

			<md-divider></md-divider>

			<md-list-item class="md-1-line" ui-sref="home" ng-click="toggleMenu()">
				<i class="material-icons md-avatar">home</i>
				<div class="md-list-item-text" layout="column">
					<h3>Home</h3>
				</div>
			</md-list-item>

			<md-list-item class="md-1-line" ng-click="getCards(); toggleMenu()" ui-sref="home.collection">
				<i class="material-icons md-avatar">collections</i>
				<div class="md-list-item-text" layout="column">
					<h3>My Collection</h3>
				</div>
			</md-list-item>

			<md-list-item class="md-1-line" ng-click="toggleMenu()">
				<i class="material-icons md-avatar">history</i>
				<div class="md-list-item-text" layout="column">
					<h3>Game History</h3>
				</div>
			</md-list-item>

			<md-list-item class="md-1-line" ng-click="logout()">
				<i class="material-icons md-avatar">exit_to_app</i>
				<div class="md-list-item-text" layout="column">
					<h3>Sign out</h3>
				</div>
			</md-list-item>

		</md-list>
	</md-content>
</md-sidenav>


<md-content ng-controller="GameController" id="content" flex layout-padding>
	<!-- default home view once logged in -->
	<!-- <div ng-if="homeView" layout="column" layout-align="center center">
		<h1>Welcome to TC</h1>
		<p>Hello {{ user.username }}</p>
		<md-button class="md-raised md-primary" href="#/play" ng-click="init()">Play</md-button>
	</div> -->

	<!-- collection view -->
	<!-- <div ng-if="showCollection" ng-include="'/templates/collection.html'"></div> -->

	<!-- in game view -->
	<!-- <div ng-if="inGame">
		<h2>Game in progress...</h2>
		<p>{{ msg }}</p>
	</div> -->

	<div ui-view>
		<!-- initial home view -->
		<h1>Welcome to TC</h1>
		<p>Hello {{ user.username }}</p>
		<md-button class="md-raised md-primary" ui-sref="home.play" ng-click="init(user)">Play</md-button>
	</div>
</md-content>
<!-- </div> -->