<md-toolbar layout-padding layout="row">
	<img class="tc-text-logo" src="images/tc-text-logo.png" alt="tc logo" />
	<span flex></span>
	<md-button class="md-primary md-accent" ng-click="toggleMenu()">
		<i class="material-icons menu-icon">menu</i>
	</md-button>
</md-toolbar>


<!-- md-component-id allows the controller to access the sidenav -->
<md-sidenav class="md-whiteframe-4dp md-sidenav-left" md-component-id="side-menu">
	<md-toolbar layout-padding layout="row">
		<h2>Menu</h2>
		<span flex></span>
		<md-button ng-click="toggleMenu()" class="md-primary md-accent">
			<i class="material-icons menu-icon">close</i>
		</md-button>
	</md-toolbar>

	<md-content layout-padding ng-controller="UserController">
		<md-list flex>
			<md-list-item class="md-3-line">
				<img ng-src="{{ gravatarUrl(user.email) }}" alt="user's gravatar" class="md-avatar" />
				<div class="md-list-item-text" layout="column">
					<h3>Hi {{user.username}}</h3>
					<h4>{{ user.name }}</h4>
					<p>{{ user.email }}</p>
				</div>
			</md-list-item>

			<md-divider></md-divider>

			<md-list-item class="md-1-line" ng-click="getCards()">
				<i class="material-icons md-avatar">collections</i>
				<div class="md-list-item-text" layout="column">
					<h3>My Cards</h3>
				</div>
			</md-list-item>

			<md-list-item class="md-1-line" ng-click="null">
				<i class="material-icons md-avatar">history</i>
				<div class="md-list-item-text" layout="column">
					<h3>Game History</h3>
				</div>
			</md-list-item>

			<md-list-item class="md-1-line" ng-click="logout()">
				<i class="material-icons md-avatar">exit_to_app</i>
				<div class="md-list-item-text" layout="column">
					<h3>Sign out</h3>
				</div>
			</md-list-item>

		</md-list>
	</md-content>
</md-sidenav>


<md-content id="content" flex layout-padding ng-controller="UserController">
	<div ng-include="'/templates/collection.html'" ng-if="showCollection"></div>
</md-content>

<!-- Donald Trump <card> directive for testing -->
<!-- TODO - can only have 1 ng-view, so when viewing collections
	the toolbar/sidebar disappears. Need to persist the menu's and just
	show the collection in the main section on the same ng-view -->
<!-- possible answer here: http://stackoverflow.com/questions/17544558/multiple-ng-view-in-single-template-angular-js -->
<!-- <card></card> -->