<div id="profile-header" layout="row">
    <div flex="35"></div>

    <div id="inner-profile-header" layout="row" flex="55">
        <div id="profile-title" layout="column">
            <h1>Peter O&apos;Connor</h1>
            <h4>Mouth Breather</h4>
        </div>

        <span flex></span>

        <md-fab-speed-dial md-open="false" md-direction="left" class="md-scale">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab">
                    <md-icon md-svg-src="/icons/share.svg"></md-icon>
                </md-button>
            </md-fab-trigger>

            <md-fab-actions>
                <md-button aria-label="Twitter" class="twitter-fab md-fab md-raised md-mini">
                    <md-icon md-svg-src="/icons/twitter.svg" aria-label="Twitter"></md-icon>
                </md-button>
                <md-button aria-label="Facebook" class="facebook-fab md-fab md-raised md-mini">
                    <md-icon md-svg-src="/icons/facebook.svg" aria-label="Facebook"></md-icon>
                </md-button>
                <md-button aria-label="Google+" class="google-fab md-fab md-raised md-mini">
                    <md-icon md-svg-src="/icons/google.svg" aria-label="Google+"></md-icon>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
    </div>

    <div flex="10"></div>
</div>


<div layout="row">
    <div flex="10"></div>

    <md-card id="user-profile-card" md-whiteframe="12" flex="20">
        <img ng-src="{{ gravatarUrl }}" class="md-card-image" alt="Washed Out">

        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Level 3</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div id="level-progress">
                <div id="level-progress-indicator"></div>
            </div>
            <p>Next level: Attention Seeker</p>
            <p>Games: 25</p>
            <p>Won: 12</p>
            <p>Lost: 13</p>
            <p>Collection: 10 / 200</p>
        </md-card-content>
    </md-card>

    <div flex="5"></div>

    <div layout="column" flex="55">
        <h1>Collection</h1>
        <p>Zombie ipsum brains reversus ab cerebellum viral inferno, brein nam rick mend grimes malum cerveau cerebro. De 
            carne cerebro lumbering animata cervello corpora quaeritis. Summus thalamus brains sit​​, morbo basal ganglia vel 
            maleficia? De braaaiiiins apocalypsi gorger omero prefrontal cortex undead survivor fornix dictum mauris. Hi 
            brains mindless mortuis limbic cortex soulless creaturas optic nerve, imo evil braaiinns stalking monstra hypothalamus 
            adventus resi hippocampus dentevil vultus brain comedat cerebella pitiutary gland viventium. Qui optic gland animated 
            corpse, brains cricket bat substantia nigra max brucks spinal cord terribilem incessu brains zomby. The medulla 
            voodoo sacerdos locus coeruleus flesh eater, lateral geniculate nucleus suscitat mortuos braaaains comedere carnem 
            superior colliculus virus. Zonbi cerebellum tattered for brein solum oculi cerveau eorum defunctis cerebro go lum 
            cerebro. Nescio brains an Undead cervello zombies. Sicut thalamus malus putrid brains voodoo horror. Nigh basal 
            ganglia tofth eliv ingdead.
        </p>

        <h1>Badges</h1>
        <p>Zombie ipsum brains reversus ab cerebellum viral inferno, brein nam rick mend grimes malum cerveau cerebro. De 
            carne cerebro lumbering animata cervello corpora quaeritis. Summus thalamus brains sit​​, morbo basal ganglia vel 
            maleficia? De braaaiiiins apocalypsi gorger omero prefrontal cortex undead survivor fornix dictum mauris. Hi 
            brains mindless mortuis limbic cortex soulless creaturas optic nerve, imo evil braaiinns stalking monstra hypothalamus 
            adventus resi hippocampus dentevil vultus brain comedat cerebella pitiutary gland viventium. Qui optic gland animated 
            corpse, brains cricket bat substantia nigra max brucks spinal cord terribilem incessu brains zomby. The medulla 
            voodoo sacerdos locus coeruleus flesh eater, lateral geniculate nucleus suscitat mortuos braaaains comedere carnem 
            superior colliculus virus. Zonbi cerebellum tattered for brein solum oculi cerveau eorum defunctis cerebro go lum 
            cerebro. Nescio brains an Undead cervello zombies. Sicut thalamus malus putrid brains voodoo horror. Nigh basal 
            ganglia tofth eliv ingdead.
        </p>

        <h1>Leaderboard</h1>
        <p>Zombie ipsum brains reversus ab cerebellum viral inferno, brein nam rick mend grimes malum cerveau cerebro. De 
            carne cerebro lumbering animata cervello corpora quaeritis. Summus thalamus brains sit​​, morbo basal ganglia vel 
            maleficia? De braaaiiiins apocalypsi gorger omero prefrontal cortex undead survivor fornix dictum mauris. Hi 
            brains mindless mortuis limbic cortex soulless creaturas optic nerve, imo evil braaiinns stalking monstra hypothalamus 
            adventus resi hippocampus dentevil vultus brain comedat cerebella pitiutary gland viventium. Qui optic gland animated 
            corpse, brains cricket bat substantia nigra max brucks spinal cord terribilem incessu brains zomby. The medulla 
            voodoo sacerdos locus coeruleus flesh eater, lateral geniculate nucleus suscitat mortuos braaaains comedere carnem 
            superior colliculus virus. Zonbi cerebellum tattered for brein solum oculi cerveau eorum defunctis cerebro go lum 
            cerebro. Nescio brains an Undead cervello zombies. Sicut thalamus malus putrid brains voodoo horror. Nigh basal 
            ganglia tofth eliv ingdead.
        </p>
    </div>

    <div flex="10"></div>
</div>
