body {
  padding: 50px;
}

/*
**********************************
Card styles
**********************************
*/
.card {
	transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
	/*background-color: red;*/
}

.card.showInfo {
	background-color: red;
}

.play-button {
	min-width: 50px;
	min-height: 50px;
	border-radius: 25px;
}

.play-button.Bronze {
	background-color: orange;
}

.md-headline {
	font-weight: 700;
}

md-card-actions div {
	padding: 5px 15px;
}

.info-button {
	background-color: transparent;
	margin: 0;
	padding: 0;
}

/*
*********************************
 Social media buttons for oAUth
*********************************
*/
.fb.md-raised {
	background-color: #3B5998;
	padding: 6px 12px;
}

.fb.md-raised:not([disabled]):hover {
	background-color: #2d4373;
}

.fa-facebook {
	position: relative;
	top: -2px;
	left: -5px;
	color: #fff;
}

.google.md-raised {
	background-color: #DD4B39;
	padding: 6px 12px;
}

.google.md-raised:not([disabled]):hover {
	background-color: #C23321;
}

.fa-google {
	position: relative;
	top: -2px;
	left: -5px;
	color: #fff;
}

.twitter.md-raised {
	background-color: #55ACEE;
	padding: 6px 12px;
}

.twitter.md-raised:not([disabled]):hover {
	background-color: #2795E9;
}

.fa-twitter {
	position: relative;
	top: -2px;
	left: -5px;
	color: #fff;
}

.social-text {
	color: #fff;
}