body {
  /*padding: 50px;*/
}


/*
**********************************
Logo/Icon styles
**********************************
*/
.tc-logo {
	min-width: 500px;
	min-height: 500px;
}

.tc-text-logo {
	height: 100px;
}

.menu-icon {
	font-size: 40px;
}


/*
**********************************
Card styles
**********************************
*/
.card {
	width: 400px;
}

md-card-header.grade-Bronze {
	border-top: 3px solid rgba(205, 127, 50, 1);
}

md-card-header.grade-Silver {
	border-top: 3px solid rgba(192, 192, 192, 1);
}

md-card-header.grade-Gold {
	border-top: 3px solid rgba(253, 181, 21, 1);
}

md-card-header.grade-Brown Platinum {
	border-top: 3px solid rgba(128, 70, 27, 1);
}

.play-button {
	min-width: 50px;
	min-height: 50px;
	border-radius: 25px;
}

.play-button.grade-Bronze {
	background-color: rgba(205, 127, 50, 1);
}

.play-button.grade-Silver {
	background-color: rgba(192, 192, 192, 1);
}

.play-button.grade-Gold {
	background-color: rgba(253, 181, 21, 1);
}

.play-button.grade-Bronze:not([disabled]):hover {
	background-color: rgba(150, 93, 37, 1);
}

.play-button.grade-Silver:not([disabled]):hover {
	background-color: rgba(158, 158, 158, 1);
}

.play-button.grade-Gold:not([disabled]):hover {
	background-color: rgba(174, 122, 0, 1)
}

.md-headline {
	font-weight: 700;
}

.info-button {
	background-color: transparent;
	margin: 0;
	padding: 0;
	color: #000;
}

.category-row {
	margin: 10px 0;
}


/*
*********************************
 Opponent score progress bar
 ********************************
 */
/*.thumb {
	position: absolute;
}

.thumb:after {
 	content: "0";
 	position: absolute;
 	width: 20px;
 	height: 20px;
 	border-radius: 20px;
 	background-color: rgb(13, 71, 161);
 	box-sizing: border-box;
 	left: 0;
 	top: -60px;
 }*/



/*
*********************************
 Social media buttons for oAuth
*********************************
*/
.fb.md-raised {
	background-color: #3B5998;
	padding: 6px 12px;
}

.fb.md-raised:not([disabled]):hover {
	background-color: #2d4373;
}

.fa-facebook {
	position: relative;
	top: -2px;
	left: -5px;
	color: #fff;
}

.google.md-raised {
	background-color: #DD4B39;
	padding: 6px 12px;
}

.google.md-raised:not([disabled]):hover {
	background-color: #C23321;
}

.fa-google {
	position: relative;
	top: -2px;
	left: -5px;
	color: #fff;
}

.twitter.md-raised {
	background-color: #55ACEE;
	padding: 6px 12px;
}

.twitter.md-raised:not([disabled]):hover {
	background-color: #2795E9;
}

.fa-twitter {
	position: relative;
	top: -2px;
	left: -5px;
	color: #fff;
}

.social-text {
	color: #fff;
}