/*
**********************************
Login page
**********************************
*/
iframe {
	border: none;
	height: 250px;
}

#desktop-content {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

#desktop-view {
	height: 100%;
	background: url("/images/tc-faces.png") no-repeat 50% 100% / 350px 350px;
}

#desktop-logo {
	padding: 60px;
}

#desktop-logo img {
	width: 200px;
}

#desktop-logo h1 {
	font-size: 42px;
	font-weight: 300;
}

#desktop-info {
	max-width: 600px;
}

#desktop-login {
	width: 35%;
	min-width: 35%;
	max-width: 35%;
	height: 100%;
	background: #fff;
}

#desktop-login-detail {
	padding: 60px 48px 48px;
}

/*
**********************************
Logo/Icon styles
**********************************
*/
.tc-logo {
	min-width: 300px;
	min-height: 300px;
}

.tc-text-logo {
	height: 100px;
}


/*
**********************************
Card styles
**********************************
*/
.card {
	width: 400px;
}

/* override padding on title to align title with categories */
md-card-title {
	padding-left: 8px!important;
}

md-card-header.grade-Bronze {
	border-top: 3px solid rgba(205, 127, 50, 1);
}

md-card-header.grade-Silver {
	border-top: 3px solid rgba(192, 192, 192, 1);
}

md-card-header.grade-Gold {
	border-top: 3px solid rgba(253, 181, 21, 1);
}

md-card-header {
	border-top: 3px solid rgba(128, 70, 27, 1);
}

.play-button {
	min-width: 50px;
	min-height: 50px;
	border-radius: 25px;
}

.play-button.grade-Bronze {
	background-color: rgba(205, 127, 50, 1);
}

.play-button.grade-Silver {
	background-color: rgba(192, 192, 192, 1);
}

.play-button.grade-Gold {
	background-color: rgba(253, 181, 21, 1);
}

.play-button {
	background-color: rgba(128, 70, 27, 1);
}

.play-button.grade-Bronze:not([disabled]):hover {
	background-color: rgba(150, 93, 37, 1);
}

.play-button.grade-Silver:not([disabled]):hover {
	background-color: rgba(158, 158, 158, 1);
}

.play-button.grade-Gold:not([disabled]):hover {
	background-color: rgba(174, 122, 0, 1)
}

.play-button:not([disabled]):hover {
	background-color: rgba(86, 47, 18, 1);
}

.md-headline {
	font-weight: 700;
}

.info-button {
	background-color: transparent;
	margin: 0;
	padding: 0;
	color: #000;
}

.text-center {
	text-align: center;
}

.category-row {
	margin: 10px 0;
}

.score-slider {
	width: 85%;
	margin-top: 12px;
}

.score-slider .md-container {
	height: 25px;
}

md-progress-linear .md-container .md-bar1, md-progress-linear .md-container .md-bar2 {
	height: 25px;
}


/*
*********************************
 Scorebar
 ********************************
 */
#scorebar img {
	width: 80px;
	height: 80px;
	border-radius: 80px;
}

#scorebar img.turn-indicator {
	border: 3px solid #00BCD4;
}

#score {
	font-size: x-large;
}

#score-seperator {
	font-weight: 100;
}


/*
*********************************
 In-game chat/game status messages
 ********************************
 */


/*
*********************************
 Opponent score progress bar
 ********************************
 */
/*.thumb {
	position: absolute;
}

.thumb:after {
 	content: "0";
 	position: absolute;
 	width: 20px;
 	height: 20px;
 	border-radius: 20px;
 	background-color: rgb(13, 71, 161);
 	box-sizing: border-box;
 	left: 0;
 	top: -60px;
 }*/



/*
*********************************
 Social media buttons for oAuth
*********************************
*/
.fb.md-raised {
	background-color: #3B5998;
	padding: 6px 12px;
}

.fb.md-raised:not([disabled]):hover {
	background-color: #2d4373;
}

.fa-facebook {
	position: relative;
	top: -2px;
	left: -5px;
	color: #fff;
}

.google.md-raised {
	background-color: #DD4B39;
	padding: 6px 12px;
}

.google.md-raised:not([disabled]):hover {
	background-color: #C23321;
}

.fa-google {
	position: relative;
	top: -2px;
	left: -5px;
	color: #fff;
}

.twitter.md-raised {
	background-color: #55ACEE;
	padding: 6px 12px;
	margin-bottom: 20px;
}

.twitter.md-raised:not([disabled]):hover {
	background-color: #2795E9;
}

.fa-twitter {
	position: relative;
	top: -2px;
	left: -5px;
	color: #fff;
}

.social-text {
	color: #fff;
}


/*
*********************************
 Home/User profile page styles
*********************************
*/
#profile {
	/*height: 200px;
	max-height: 200px;
	min-height: 200px;*/
	background-color: #00BCD4;
}

#profile-image {
	width: 80px;
	min-width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-right: 24px;
}

#user-details h2 {
	margin-bottom: 0;
}

#user-details h5 {
	margin-top: 0;
}

.news-card {
	margin-bottom: 35px;
}

.news-card md-card-header {
	border: none;
}

.profile-card {
	margin-bottom: 35px;
}

.profile-card header,
.achievements-card header {
	background-color: #00BCD4;
	padding: 0 16px;
}

.profile-content {
	padding: 0 16px;
}

.profile-content md-slider {
	margin: 12px 20px;
	width: 50%;
}

.profile-icon {
	margin: 24px 0;
	padding-right: 16px;
}

.profile-text {
	margin: 26px 0;
}

.sidebar {
	padding-top: 15px;
}

.badge {
	margin: 10px 0;
	padding: 10px;
	background-color: #505050;
	border-radius: 4px;
	color: #fff;
}

.badge-bronze {
	background-color: rgba(150, 93, 37, 1);
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-right: 5px;
	border-radius: 5px;
}





/*#profile-header {
	background-color: #00BCD4;
	height: 250px;
}

#profile-title h1 {
	margin: 0;
}

#profile-title {
	color: #0D0557;
	justify-content: flex-end;
}

md-fab-speed-dial {
	position: relative;
	top: 125px;
}

#user-profile-card {
	position: relative;
	top: -225px;
	margin: 0;
}

#level-progress {
	width: 100%;
	height: 30px;
	border: 2px solid black;
	border-radius: 15px;
	box-sizing: border-box;
}

#level-progress-indicator {
	width: 30%;
	border-right: 2px solid black;
	height: 26px;
	border-radius: 15px 0 0 15px;
	background-color: rgba(205, 127, 50, 1);
}*/